/*
    # = id
    . = class
    Tutorial : https://www.w3schools.com/css/default.asp
*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background: #2C2D2A;
    margin : 0em;
    font-family : Ubuntu;
    overflow : hidden;
}
#Header {
    background: #4E4E4E;
    padding: 0.5em;
    width : 100vw;
}
#MobileMenuIcon {
    display: block;
    margin-right: auto;
    color : white;
    cursor: pointer;
}
ul {
    list-style-type: none;
    padding: 0;
}
.MenuLinks {
    display : block;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.5em;
    margin-top : 0.5em;
    margin-left: 1em;
    
    cursor: pointer;
    /*font-family: 'Bebas Neue', cursive;*/
}
    .MenuLinks:hover {
        font-weight : bold;
    }
#Navbar {
    display : none;
    position: fixed;
    text-align: left;
    margin-top: 2em;
    z-index: 100;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: #4E4E4E;
}
#MainSection{
    text-align:center;
}
h1 {
    font-size: 3em;
    font-family: 'Bebas Neue', cursive;
    color: #FFFFFF;
}
p {
    color: #FFFFFF;
}

/*Home Page Page CSS*/

.AllProjectsBtn {
    display : block;
    width: fit-content;
    margin:auto;
    text-align : center;
    
    
    background-color: #FA5C5C;
    padding: 0.3em;
    font-family: 'Bebas Neue', cursive;
    color: #FFFFFF;
    font-size: 1.8em;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0.6em;
}
.AllProjectsBtn:hover{
    transform:scale(1.2);
}
.AllProjectsImg
{
    margin-right : 0.2em;
}
#ControllerImg {
    width: 20em;
    height: auto;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

/*Social Page CSS*/
#SocialSection {
    text-align: center;
}

.SocialLinks {
    display: block;
    background-color: blue;
    width: 4.2em;
    margin: auto;
    text-align: center;
    
    margin-top:1em;
    padding-left: 0.3em;
    padding-right: 0.3em;

    
    font-family: 'Bebas Neue', cursive;
    color: #FFFFFF;
    font-size: 2.5em;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0.35em;
}
    .SocialLinks:hover {
        transform: scale(1.2);
    }

#GithubLink{
    background-color : #0A0A0A;
}
#TwitterLink{
    background-color : #2AA9E0;
}

#ItchLink{
    background-color : #FA5C5C;
}
#GmailLink {
    background-color : #D14836;
}

.IconImages {
    margin-top: 0.2em;
    margin-bottom: 0em;
    width: 1em;
    height: auto;
    margin-right: 0.2em;
}

/*Media Queries*/
@media only screen and (min-width: 768px) 
{
    /*For The Menu*/
    #Navbar {
        display: inline;
        background: none;
        position: unset;
        
        width: 100%;
        height: auto;
    }
    #MobileMenuIcon{
        display : none;
    }
    #AllMenuLinks {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-flex
    }
    .MenuLinks {
        display: inline;
    }

    /*For The Home Page*/
    #MainSection {
        width: 100%;
        height: auto;
        margin-left: 2em;
        text-align: left;
    }
    #MainSection h1 {
        margin-block-start : 3em;
        margin-block-end : 0em;
    }
    .AllProjectsBtn{
        margin:0em;
    }
}